/packages/
riderModule.iml
/_ReSharper.Caches/
.DS_Store
.idea/
.vscode/
.fleet/
.vs/
*.sln.iml
*.csproj.user
*.suo
*.user
*.userosscache
*.db

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/
appsettings.json
appsettings.Development.json